# Virtual Environment
.venv

# Python
__pycache__
*.pyc
.pytest_cache
.ruff_cache

# Test
db.sqlite3
.coverage

# Sensitive Data
.env

# Runtime Files
.running_pids.json

# VSCode
.vscode

# Ai Agent Docs
.prompts
.cursor

# Logs
logs/*.log

.opencode
.ignore
AGENTS.md