# Virtual Environment
.venv

# Python
__pycache__
*.pyc
.pytest_cache
.ruff_cache

# Test
db.sqlite3

# Sensitive Data
.env

# VSCode
.vscode

# Ai Agent Docs
.prompts

# Logs
logs/*.log

.ignore
docs
AGENTS.md